.idea
Model/EngHindiDataPreprocess/temp_datasets
Model/EngHindiDataPreprocess/__pycache__
Model/EngHindiDataPreprocess/.data
Model/EngHindiDataPreprocess/hindencorp05.plaintext
Model/EngHindiDataPreprocess/mlc_train.hi-en.en
Model/EngHindiDataPreprocess/mlc_train.hi-en.hi
Model/EngHindiDataPreprocess/checker_eng.txt
Model/EngHindiDataPreprocess/english_vocab.txt
Model/EngHindiDataPreprocess/hindi_vocab.txt
Model/CNNSeq2Seq/Trained_Models
Model/CNNSeq2Seq/.data
Model/CNNSeq2Seq/__pycache__
Model/CNNSeq2Seq/translate-model.pt