.idea
Model/EngHindiDataPreprocess/IITB.en-hi.en
Model/EngHindiDataPreprocess/IITB.en-hi.hi
Model/CNNSeq2Seq/Trained_Models
Model/CNNSeq2Seq/translate-model.pt
Model/CNNSeq2Seq/.data
Model/CNNSeq2Seq/__pycache__